.container {
  margin: 0 auto;
  width: 400px;

}

.header {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.chat-box {
  text-align: left;
  border-bottom: solid 1px black;
}

.person-box {
  display: inline-block;
  width: 50%;
}


.person-header {
  text-align: center;
}